<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>


# Exploring and pre-processing a dataset using Pandas 


Estimated time needed: **30** minutes
    

## Objectives

After completing this lab you will be able to:

* Explore the dataset
* Pre-process dataset as required (may be for visualization)

## Introduction

The aim of this lab is to provide you a refresher on the **Pandas** library, so that you can pre-process and anlyse the datasets before applying data visualization techniques on it. This lab will work as acrash course on *pandas*. if you are interested in learning more about the *pandas* library, detailed description and explanation of how to use it and how to clean, munge, and process data stored in a *pandas* dataframe are provided in other IBM courses.

------------

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

1. [Exploring Datasets with *pandas*](#0)<br>
2. [The Dataset: Immigration to Canada from 1980 to 2013](#1)<br>
3. [*pandas* Basics](#2) <br>
4. [*pandas* Intermediate: Indexing and Selection](#3) <br>
5. [*pandas* Filtering based on a criteria](#4)<br>
6. [*pandas* Sorting Values](#5)

</div>

# Exploring Datasets with *pandas* <a id="0"></a>

*pandas* is an essential data analysis toolkit for Python. From their [website](http://pandas.pydata.org/):
>*pandas* is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, **real world** data analysis in Python.

The course heavily relies on *pandas* for data wrangling, analysis, and visualization. We encourage you to spend some time and familiarize yourself with the *pandas* API Reference: http://pandas.pydata.org/pandas-docs/stable/api.html.

## The Dataset: Immigration to Canada from 1980 to 2013 <a id="1"></a>

Dataset Source: [International migration flows to and from selected countries - The 2015 revision](https://www.un.org/development/desa/pd/data/international-migration-flows).

The dataset contains annual data on the flows of international immigrants as recorded by the countries of destination. The data presents both inflows and outflows according to the place of birth, citizenship or place of previous / next residence both for foreigners and nationals. The current version presents data pertaining to 45 countries.

In this lab, we will focus on the Canadian immigration data.

![Data Preview](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/labs/Module%201/images/DataSnapshot.png)

 The Canada Immigration dataset can be fetched from <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx">here</a>.

---

## *pandas* Basics<a id="2"></a>

The first thing we'll do is install **openpyxl** (formerly **xlrd**), a module that *pandas* requires to read Excel files.

In [ ]:
!mamba install openpyxl==3.0.9 -y

Next, we'll do is import two key data analysis modules: *pandas* and *numpy*.

In [ ]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [1]:
import numpy as np
import pandas as pd

Let's download and import our primary Canadian Immigration dataset using *pandas*'s `read_excel()` method.

In [ ]:
df_can = pd.read_excel(
    'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx',
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2)

print('Data read into a pandas dataframe!')

In [2]:
df_can = pd.read_excel(
    'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx',
    sheet_name ='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2)
print('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

Let's view the top 5 rows of the dataset using the `head()` function.

In [3]:
df_can.head()
# tip: You can specify the number of rows you'd like to see as follows: df_can.head(10)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1

We can also view the bottom 5 rows of the dataset using the `tail()` function.

In [4]:
df_can.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,17,11,7,16,9,15,23,44,68,77,69,73,46,51,41,34,72,34,51,39,78,50,46,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,114,102,44,32,29,43,68,99,187,129,94,61,72,78,58,39,44,43,49,98,110,191,669,1450,615,454,663,611,508,494,434,437,407

When analyzing a dataset, it's always a good idea to start by getting basic information about your dataframe. We can do this by using the `info()` method.

This method can be used to get a short summary of the dataframe.

In [6]:
df_can.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 43 entries, Type to 2013
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

In [7]:
df_can.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 43 entries, Type to 2013
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

To get the list of column headers we can call upon the data frame's `columns` instance variable.

In [ ]:
df_can.columns

In [8]:
df_can.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

Similarly, to get the list of indices we use the `.index` instance variables.

In [9]:
df_can.index

RangeIndex(start=0, stop=195, step=1)

In [ ]:
df_can.index

Note: The default type of intance variables `index` and `columns` are **NOT** `list`.

In [10]:
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

To get the index and columns as lists, we can use the `tolist()` method.

In [ ]:
df_can.columns.tolist()

In [11]:
df_can.columns.tolist()

['Type',
 'Coverage',
 'OdName',
 'AREA',
 'AreaName',
 'REG',
 'RegName',
 'DEV',
 'DevName',
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013]

In [ ]:
df_can.index.tolist()

In [12]:
df_can.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194]

In [13]:
print(type(df_can.columns.tolist()))
print(type(df_can.index.tolist()))

<class 'list'>
<class 'list'>

To view the dimensions of the dataframe, we use the `shape` instance variable of it.

In [14]:
df_can.shape

(195, 43)

In [ ]:
# size of dataframe (rows, columns)
df_can.shape

**Note**: The main types stored in *pandas* objects are `float`, `int`, `bool`, `datetime64[ns]`, `datetime64[ns, tz]`, `timedelta[ns]`, `category`, and `object` (string). In addition, these dtypes have item sizes, e.g. `int64` and `int32`.

Let's clean the data set to remove a few unnecessary columns. We can use *pandas* `drop()` method as follows:

In [ ]:
# in pandas axis=0 represents rows (default) and axis=1 represents columns.
df_can.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_can.head(2)

In [15]:
df_can.drop(['AREA','REG','DEV','Type','Coverage'],axis=1,inplace=True)
df_can.head()

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1

Let's rename the columns so that they make sense. We can use `rename()` method by passing in a dictionary of old and new names as follows:

In [ ]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.columns

In [17]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.columns

Index([  'Country', 'Continent',    'Region',   'DevName',        1980,
              1981,        1982,        1983,        1984,        1985,
              1986,        1987,        1988,        1989,        1990,
              1991,        1992,        1993,        1994,        1995,
              1996,        1997,        1998,        1999,        2000,
              2001,        2002,        2003,        2004,        2005,
              2006,        2007,        2008,        2009,        2010,
              2011,        2012,        2013],
      dtype='object')

We will also add a 'Total' column that sums up the total immigrants by country over the entire period 1980 - 2013, as follows:

In [20]:
df_can['Total']=df_can.sum(numeric_only=True,axis=1)
df_can['Total']

0       117278
1        31398
2       138878
3           12
4           30
5         4226
6         1962
7        39192
8         6620
9        47658
10        9970
11        5298
12        1616
13         950
14      131136
15       13846
16       15950
17       21524
18        2166
19        5704
20       11752
21        6410
22       43710
23         792
24       59318
25        1200
26       46620
27        4086
28       16220
29         402
30       13076
31       32042
32          40
33        1100
34        3306
35       42718
36     1319924
37       18654
38         568
39      144176
40         388
41        3372
42        8978
43       16582
44       16002
45       40730
46        2252
47        8384
48         776
49       51164
50        7802
51        3292
52        4940
53       22386
54       24466
55      145490
56      109756
57         122
58       20900
59        1870
60       70272
61       41218
62        5562
63      218182
64        1904
65        1206
66        4136
67      127824
68       52064
69       24820
70       18182
71       38930
72        9782
73         166
74      151570
75      169626
76       15540
77       33644
78        1140
79     1383808
80       26300
81      351846
82      139578
83       33928
84      133016
85       45248
86      212862
87       55414
88       70812
89       16980
90       34456
91          30
92        4050
93        4706
94        2178
95        4652
96      230718
97         214
98        5518
99        9818
100         80
101       4828
102        430
103       4388
104        588
105      48834
106         60
107       4376
108       3092
109          4
110       2032
111      31380
112     117424
113         58
114       1904
115        210
116     144534
117        320
118      18490
119        640
120         36
121      20444
122      53768
123         10
124      20772
125      24190
126       1904
127      79464
128       4654
129        448
130     483200
131          2
132       6322
133        128
134       3888
135      65304
136    1022782
137     278482
138     148334
139        314
140     285162
141      30762
142     187170
143     126688
144      13382
145       1306
146       9604
147      19414
148        156
149         10
150         20
151       6850
152      14724
153       3878
154       2532
155       6702
156      29158
157      11926
158       1046
159      84218
160      81136
161      10036
162     296716
163      13024
164      37012
165       1478
166        376
167      11732
168      31356
169      62970
170       1006
171      18348
172       9274
173       7090
174        284
175     100032
176      35166
177      63562
178        620
179         16
180       6900
181     102820
182       1672
183    1103000
184      24992
185     482244
186       9430
187       6736
188         22
189      42534
190     194292
191          4
192       5970
193       3354
194      17196
Name: Total, dtype: int64

In [ ]:
df_can['Total'] = df_can.sum(axis=1)
df_can['Total']

We can check to see how many null objects we have in the dataset as follows:

In [ ]:
df_can.isnull().sum()

In [21]:
df_can.isnull().sum()

Country      0
Continent    0
Region       0
DevName      0
1980         0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
Total        0
dtype: int64

Finally, let's view a quick summary of each column in our dataframe using the `describe()` method.

In [ ]:
df_can.describe()

In [22]:
df_can.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,1.950000e+02
mean,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,691.133333,714.389744,843.241026,964.379487,1064.148718,1136.856410,1138.712821,993.153846,962.625641,1026.076923,989.153846,824.241026,922.143590,1111.343590,1244.323077,1144.158974,1114.343590,1190.169231,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564,6.573490e+04
std,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,2109.205607,2443.606788,2555.048874,3158.730195,2952.093731,3330.083742,3495.220063,3613.336444,3091.492343,3321.045004,3070.761447,2385.943695,2887.632585,3664.042361,3961.621410,3660.579836,3623.509519,3710.505369,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988,1.835710e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000e+00
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,2.000000,3.000000,6.500000,11.500000,9.500000,10.500000,14.500000,19.500000,15.000000,16.000000,16.000000,22.000000,18.500000,21.500000,19.000000,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000,1.904000e+03
50%,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,26.000000,34.000000,44.000000,38.000000,51.000000,74.000000,85.000000,76.000000,91.000000,118.000000,114.000000,106.000000,116.000000,138.000000,169.000000,165.000000,161.000000,191.000000,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000,1.003600e+04
75%,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,434.000000,409.000000,508.500000,612.500000,657.500000,655.000000,722.500000,545.000000,550.500000,603.500000,612.500000,535.500000,548.500000,659.000000,793.500000,686.000000,673.500000,756.500000,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000,4.447900e+04
max,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,21337.000000,27359.000000,23795.000000,31668.000000,23380.000000,34123.000000,33720.000000,39231.000000,30145.000000,29322.000000,22965.000000,21049.000000,30069.000000,35529.000000,36434.000000,31961.000000,36439.000000,36619.000000,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000,1.383808e+06

---
## *pandas* Intermediate: Indexing and Selection (slicing)<a id="3"></a>

### Select Column
**There are two ways to filter on a column name:**

Method 1: Quick and easy, but only works if the column name does NOT have spaces or special characters.
```python
    df.column_name               # returns series
```

Method 2: More robust, and can filter on multiple columns.

```python
    df['column']                  # returns series
```

```python 
    df[['column 1', 'column 2']]  # returns dataframe
```
---

Example: Let's try filtering on the list of countries ('Country').

In [23]:
df_can.Country

0                                               Afghanistan
1                                                   Albania
2                                                   Algeria
3                                            American Samoa
4                                                   Andorra
5                                                    Angola
6                                       Antigua and Barbuda
7                                                 Argentina
8                                                   Armenia
9                                                 Australia
10                                                  Austria
11                                               Azerbaijan
12                                                  Bahamas
13                                                  Bahrain
14                                               Bangladesh
15                                                 Barbados
16                                                  Belarus
17                                                  Belgium
18                                                   Belize
19                                                    Benin
20                                                   Bhutan
21                         Bolivia (Plurinational State of)
22                                   Bosnia and Herzegovina
23                                                 Botswana
24                                                   Brazil
25                                        Brunei Darussalam
26                                                 Bulgaria
27                                             Burkina Faso
28                                                  Burundi
29                                               Cabo Verde
30                                                 Cambodia
31                                                 Cameroon
32                                                   Canada
33                                 Central African Republic
34                                                     Chad
35                                                    Chile
36                                                    China
37           China, Hong Kong Special Administrative Region
38               China, Macao Special Administrative Region
39                                                 Colombia
40                                                  Comoros
41                                                    Congo
42                                               Costa Rica
43                                            Côte d'Ivoire
44                                                  Croatia
45                                                     Cuba
46                                                   Cyprus
47                                           Czech Republic
48                    Democratic People's Republic of Korea
49                         Democratic Republic of the Congo
50                                                  Denmark
51                                                 Djibouti
52                                                 Dominica
53                                       Dominican Republic
54                                                  Ecuador
55                                                    Egypt
56                                              El Salvador
57                                        Equatorial Guinea
58                                                  Eritrea
59                                                  Estonia
60                                                 Ethiopia
61                                                     Fiji
62                                                  Finland
63                                                   France
64                                                    Gabon
65                                                   Gambia
66                                                  Georgia
67                                                  Germany
68                                                    Ghana
69                                                   Greece
70                                                  Grenada
71                                                Guatemala
72                                                   Guinea
73                                            Guinea-Bissau
74                                                   Guyana
75                                                    Haiti
76                                                 Honduras
77                                                  Hungary
78                                                  Iceland
79                                                    India
80                                                Indonesia
81                               Iran (Islamic Republic of)
82                                                     Iraq
83                                                  Ireland
84                                                   Israel
85                                                    Italy
86                                                  Jamaica
87                                                    Japan
88                                                   Jordan
89                                               Kazakhstan
90                                                    Kenya
91                                                 Kiribati
92                                                   Kuwait
93                                               Kyrgyzstan
94                         Lao People's Democratic Republic
95                                                   Latvia
96                                                  Lebanon
97                                                  Lesotho
98                                                  Liberia
99                                                    Libya
100                                           Liechtenstein
101                                               Lithuania
102                                              Luxembourg
103                                              Madagascar
104                                                  Malawi
105                                                Malaysia
106                                                Maldives
107                                                    Mali
108                                                   Malta
109                                        Marshall Islands
110                                              Mauritania
111                                               Mauritius
112                                                  Mexico
113                                                  Monaco
114                                                Mongolia
115                                              Montenegro
116                                                 Morocco
117                                              Mozambique
118                                                 Myanmar
119                                                 Namibia
120                                                   Nauru
121                                                   Nepal
122                                             Netherlands
123                                           New Caledonia
124                                             New Zealand
125                                               Nicaragua
126                                                   Niger
127                                                 Nigeria
128                                                  Norway
129                                                    Oman
130                                                Pakistan
131                                                   Palau
132                                                  Panama
133                                        Papua New Guinea
134                                                Paraguay
135                                                    Peru
136                                             Philippines
137                                                  Poland
138                                                Portugal
139                                                   Qatar
140                                       Republic of Korea
141                                     Republic of Moldova
142                                                 Romania
143                                      Russian Federation
144                                                  Rwanda
145                                   Saint Kitts and Nevis
146                                             Saint Lucia
147                        Saint Vincent and the Grenadines
148                                                   Samoa
149                                              San Marino
150                                   Sao Tome and Principe
151                                            Saudi Arabia
152                                                 Senegal
153                                                  Serbia
154                                              Seychelles
155                                            Sierra Leone
156                                               Singapore
157                                                Slovakia
158                                                Slovenia
159                                                 Somalia
160                                            South Africa
161                                                   Spain
162                                               Sri Lanka
163                                      State of Palestine
164                                                   Sudan
165                                                Suriname
166                                               Swaziland
167                                                  Sweden
168                                             Switzerland
169                                    Syrian Arab Republic
170                                              Tajikistan
171                                                Thailand
172               The former Yugoslav Republic of Macedonia
173                                                    Togo
174                                                   Tonga
175                                     Trinidad and Tobago
176                                                 Tunisia
177                                                  Turkey
178                                            Turkmenistan
179                                                  Tuvalu
180                                                  Uganda
181                                                 Ukraine
182                                    United Arab Emirates
183    United Kingdom of Great Britain and Northern Ireland
184                             United Republic of Tanzania
185                                United States of America
186                                                 Uruguay
187                                              Uzbekistan
188                                                 Vanuatu
189                      Venezuela (Bolivarian Republic of)
190                                                Viet Nam
191                                          Western Sahara
192                                                   Yemen
193                                                  Zambia
194                                                Zimbabwe
Name: Country, dtype: object

In [ ]:
df_can.Country  # returns a series

Let's try filtering on the list of countries ('Country') and the data for years: 1980 - 1985.

In [24]:
df_can[['Country',1980,1981,1982,1983,1984,1985]]

,Country,1980,1981,1982,1983,1984,1985
0,Afghanistan,16,39,39,47,71,340
1,Albania,1,0,0,0,0,0
2,Algeria,80,67,71,69,63,44
3,American Samoa,0,1,0,0,0,0
4,Andorra,0,0,0,0,0,0
5,Angola,1,3,6,6,4,3
6,Antigua and Barbuda,0,0,0,0,42,52
7,Argentina,368,426,626,241,237,196
8,Armenia,0,0,0,0,0,0
9,Australia,702,639,484,317,317,319
10,Austria,234,238,201,117,127,165
11,Azerbaijan,0,0,0,0,0,0
12,Bahamas,26,23,38,12,21,28
13,Bahrain,0,2,1,1,1,3
14,Bangladesh,83,84,86,81,98,92
15,Barbados,372,376,299,244,265,285
16,Belarus,0,0,0,0,0,0
17,Belgium,511,540,519,297,183,181
18,Belize,16,27,13,21,37,26
19,Benin,2,5,4,3,4,3
20,Bhutan,0,0,0,0,1,0
21,Bolivia (Plurinational State of),44,52,42,49,38,44
22,Bosnia and Herzegovina,0,0,0,0,0,0
23,Botswana,10,1,3,3,7,4
24,Brazil,211,220,192,139,145,130
25,Brunei Darussalam,79,6,8,2,2,4
26,Bulgaria,24,20,12,33,11,24
27,Burkina Faso,2,1,3,2,3,2
28,Burundi,0,0,0,0,1,2
29,Cabo Verde,1,1,2,0,11,1
30,Cambodia,12,19,26,33,10,7
31,Cameroon,9,2,16,7,8,13
32,Canada,0,0,0,0,0,0
33,Central African Republic,4,3,1,0,0,0
34,Chad,0,0,1,0,0,1
35,Chile,1233,1069,1078,781,681,533
36,China,5123,6682,3308,1863,1527,1816
37,"China, Hong Kong Special Administrative Region",0,0,0,0,0,0
38,"China, Macao Special Administrative Region",0,0,0,0,0,0
39,Colombia,266,326,360,244,235,214
40,Comoros,0,2,2,0,0,2
41,Congo,2,0,1,0,1,2
42,Costa Rica,28,35,42,51,75,113
43,Côte d'Ivoire,14,8,10,6,21,23
44,Croatia,0,0,0,0,0,0
45,Cuba,306,41,94,104,101,115
46,Cyprus,132,128,84,46,46,43
47,Czech Republic,0,0,0,0,0,0
48,Democratic People's Republic of Korea,1,1,3,1,4,3
49,Democratic Republic of the Congo,15,16,17,17,28,11
50,Denmark,272,293,299,106,93,73
51,Djibouti,0,1,1,5,1,0
52,Dominica,104,81,94,65,81,79
53,Dominican Republic,40,53,104,88,97,84
54,Ecuador,238,207,184,155,179,208
55,Egypt,612,660,755,455,447,348
56,El Salvador,110,295,882,2587,2666,2769
57,Equatorial Guinea,0,0,0,0,0,0
58,Eritrea,0,0,0,0,0,0
59,Estonia,0,0,0,0,0,0
60,Ethiopia,98,59,54,98,154,157
61,Fiji,632,705,814,554,389,446
62,Finland,208,205,170,70,83,69
63,France,1729,2027,2219,1490,1169,1177
64,Gabon,2,3,2,2,1,0
65,Gambia,0,0,1,0,0,2
66,Georgia,0,0,0,0,0,0
67,Germany,1626,1977,3062,2376,1610,1441
68,Ghana,172,196,98,122,116,172
69,Greece,1065,953,897,633,580,584
70,Grenada,154,181,231,165,167,168
71,Guatemala,114,108,113,366,598,975
72,Guinea,0,3,3,6,4,3
73,Guinea-Bissau,0,0,0,0,1,0
74,Guyana,2334,2943,3575,2650,1932,2299
75,Haiti,1666,3692,3498,2860,1418,1321
76,Honduras,26,33,30,68,65,69
77,Hungary,205,310,397,337,310,522
78,Iceland,17,33,10,9,13,6
79,India,8880,8670,8147,7338,5704,4211
80,Indonesia,186,178,252,115,123,100
81,Iran (Islamic Republic of),1172,1429,1822,1592,1977,1648
82,Iraq,262,245,260,380,428,231
83,Ireland,781,895,707,298,327,287
84,Israel,1403,1711,1334,541,446,680
85,Italy,1820,2057,1480,820,858,667
86,Jamaica,3198,2634,2661,2455,2508,2938
87,Japan,701,756,598,309,246,198
88,Jordan,177,160,155,113,102,179
89,Kazakhstan,0,0,0,0,0,0
90,Kenya,291,296,221,201,218,245
91,Kiribati,0,0,0,1,0,0
92,Kuwait,1,0,8,2,1,4
93,Kyrgyzstan,0,0,0,0,0,0
94,Lao People's Democratic Republic,11,6,16,16,7,17
95,Latvia,0,0,0,0,0,0
96,Lebanon,1409,1119,1159,789,1253,1683
97,Lesotho,1,1,1,2,7,5
98,Liberia,1,2,2,1,4,4
99,Libya,5,7,9,24,10,31
100,Liechtenstein,1,4,2,0,0,3
101,Lithuania,1,1,0,0,0,1
102,Luxembourg,14,4,2,5,1,3
103,Madagascar,22,10,13,32,30,18
104,Malawi,5,4,6,3,2,0
105,Malaysia,786,816,813,448,384,374
106,Maldives,0,0,0,1,0,0
107,Mali,4,4,7,3,3,4
108,Malta,191,242,153,64,60,68
109,Marshall Islands,0,0,0,0,0,0
110,Mauritania,5,0,3,3,1,1
111,Mauritius,306,259,353,170,207,164
112,Mexico,409,394,491,490,509,425
113,Monaco,0,0,0,0,0,1
114,Mongolia,0,0,0,0,0,0
115,Montenegro,0,0,0,0,0,0
116,Morocco,325,471,447,335,248,328
117,Mozambique,0,0,7,2,3,1
118,Myanmar,80,62,46,31,41,23
119,Namibia,0,5,5,3,2,1
120,Nauru,1,0,0,0,0,0
121,Nepal,1,1,6,1,2,4
122,Netherlands,1889,1858,1852,716,560,510
123,New Caledonia,0,0,0,0,0,0
124,New Zealand,602,480,364,140,164,148
125,Nicaragua,18,21,27,55,126,468
126,Niger,0,0,1,1,0,0
127,Nigeria,81,60,58,58,78,78
128,Norway,116,77,106,51,31,54
129,Oman,0,0,0,8,0,0
130,Pakistan,978,972,1201,900,668,514
131,Palau,0,0,0,0,0,0
132,Panama,13,8,14,10,11,17
133,Papua New Guinea,0,2,2,4,2,2
134,Paraguay,45,26,32,40,48,36
135,Peru,317,456,401,241,306,328
136,Philippines,6051,5921,5249,4562,3801,3150
137,Poland,863,2930,5881,4546,3588,2819
138,Portugal,4473,3486,2432,1433,1398,1451
139,Qatar,0,0,0,0,0,0
140,Republic of Korea,1011,1456,1572,1081,847,962
141,Republic of Moldova,0,0,0,0,0,0
142,Romania,375,438,583,543,524,604
143,Russian Federation,0,0,0,0,0,0
144,Rwanda,6,6,8,4,3,0
145,Saint Kitts and Nevis,5,3,0,16,21,17
146,Saint Lucia,69,89,133,69,68,80
147,Saint Vincent and the Grenadines,147,190,202,154,158,182
148,Samoa,3,7,4,1,3,0
149,San Marino,1,0,0,0,0,0
150,Sao Tome and Principe,0,0,0,0,0,0
151,Saudi Arabia,0,0,1,4,1,2
152,Senegal,13,10,9,11,7,11
153,Serbia,0,0,0,0,0,0
154,Seychelles,5,15,3,4,1,8
155,Sierra Leone,6,6,7,3,12,10
156,Singapore,241,301,337,169,128,139
157,Slovakia,0,0,0,0,0,0
158,Slovenia,0,0,0,0,0,0
159,Somalia,7,10,7,12,14,10
160,South Africa,1026,1118,781,379,271,310
161,Spain,211,299,260,133,137,98
162,Sri Lanka,185,371,290,197,1086,845
163,State of Palestine,0,0,0,0,0,0
164,Sudan,20,12,11,7,23,32
165,Suriname,15,10,21,12,5,16
166,Swaziland,4,1,1,0,10,7
167,Sweden,281,308,222,176,128,158
168,Switzerland,806,811,634,370,326,314
169,Syrian Arab Republic,315,419,409,269,264,385
170,Tajikistan,0,0,0,0,0,0
171,Thailand,56,53,113,65,82,66
172,The former Yugoslav Republic of Macedonia,0,0,0,0,0,0
173,Togo,5,5,2,3,6,5
174,Tonga,2,4,7,1,2,5
175,Trinidad and Tobago,958,947,972,766,606,699
176,Tunisia,58,51,55,46,51,57
177,Turkey,481,874,706,280,338,202
178,Turkmenistan,0,0,0,0,0,0
179,Tuvalu,0,1,0,0,1,0
180,Uganda,13,16,17,38,32,29
181,Ukraine,0,0,0,0,0,0
182,United Arab Emirates,0,2,2,1,2,0
183,United Kingdom of Great Britain and Northern Ireland,22045,24796,20620,10015,10170,9564
184,United Republic of Tanzania,635,832,621,474,473,460
185,United States of America,9378,10030,9074,7100,6661,6543
186,Uruguay,128,132,146,105,90,92
187,Uzbekistan,0,0,0,0,0,0
188,Vanuatu,0,0,0,0,0,0
189,Venezuela (Bolivarian Republic of),103,117,174,124,142,165
190,Viet Nam,1191,1829,2162,3404,7583,5907
191,Western Sahara,0,0,0,0,0,0
192,Yemen,1,2,1,6,0,18
193,Zambia,11,17,11,7,16,9
194,Zimbabwe,72,114,102,44,32,29

In [ ]:
df_can[['Country', 1980, 1981, 1982, 1983, 1984, 1985]] # returns a dataframe
# notice that 'Country' is string, and the years are integers. 
# for the sake of consistency, we will convert all column names to string later on.

### Select Row

There are main 2 ways to select rows:

```python
    df.loc[label]    # filters by the labels of the index/column
    df.iloc[index]   # filters by the positions of the index/column
```

Before we proceed, notice that the default index of the dataset is a numeric range from 0 to 194. This makes it very difficult to do a query by a specific country. For example to search for data on Japan, we need to know the corresponding index value.

This can be fixed very easily by setting the 'Country' column as the index using `set_index()` method.

In [ ]:
df_can.set_index('Country', inplace=True)
# tip: The opposite of set is reset. So to reset the index, we can use df_can.reset_index()

In [25]:
df_can.set_index('Country',inplace=True)

In [26]:
df_can.head(3)

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,117278
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,31398
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331,138878

In [29]:
df_can.loc[['Japan']]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,422,324,494,379,506,605,907,956,826,994,924,897,1083,1010,1092,806,817,973,1067,1212,1250,1284,1194,1168,1265,1214,982,55414

In [34]:
# optional: to remove the name of the index
df_can.index.name = None

In [32]:
df_can.index.name=None

In [35]:
df_can.head()

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,117278
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,2,2,3,3,21,56,96,71,63,113,307,574,1264,1816,1602,1021,853,1450,1223,856,702,560,716,561,539,620,603,31398
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,132,242,434,491,872,795,717,595,1106,2054,1842,2292,2389,2867,3418,3406,3072,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331,138878
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,1,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,12
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,0,0,0,3,0,1,0,0,0,0,0,2,0,0,1,0,2,0,0,1,1,0,0,0,0,1,1,30

Example: Let's view the number of immigrants from Japan (row 87) for the following scenarios:
    1. The full row data (all columns)
    2. For year 2013
    3. For years 1980 to 1985

In [ ]:
# 1. the full row data (all columns)
df_can.loc['Japan']

In [36]:
df_can.loc['Japan']

Continent                 Asia
Region            Eastern Asia
DevName      Developed regions
1980                       701
1981                       756
1982                       598
1983                       309
1984                       246
1985                       198
1986                       248
1987                       422
1988                       324
1989                       494
1990                       379
1991                       506
1992                       605
1993                       907
1994                       956
1995                       826
1996                       994
1997                       924
1998                       897
1999                      1083
2000                      1010
2001                      1092
2002                       806
2003                       817
2004                       973
2005                      1067
2006                      1212
2007                      1250
2008                      1284
2009                      1194
2010                      1168
2011                      1265
2012                      1214
2013                       982
Total                    55414
Name: Japan, dtype: object

In [37]:
# alternate methods
df_can.iloc[87]

Continent                 Asia
Region            Eastern Asia
DevName      Developed regions
1980                       701
1981                       756
1982                       598
1983                       309
1984                       246
1985                       198
1986                       248
1987                       422
1988                       324
1989                       494
1990                       379
1991                       506
1992                       605
1993                       907
1994                       956
1995                       826
1996                       994
1997                       924
1998                       897
1999                      1083
2000                      1010
2001                      1092
2002                       806
2003                       817
2004                       973
2005                      1067
2006                      1212
2007                      1250
2008                      1284
2009                      1194
2010                      1168
2011                      1265
2012                      1214
2013                       982
Total                    55414
Name: Japan, dtype: object

In [ ]:
df_can[df_can.index == 'Japan']

In [38]:
df_can[df_can.index=='Japan']

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,422,324,494,379,506,605,907,956,826,994,924,897,1083,1010,1092,806,817,973,1067,1212,1250,1284,1194,1168,1265,1214,982,55414

In [ ]:
# 2. for year 2013
df_can.loc['Japan', 2013]

In [40]:
df_can.loc['Japan',2013]

np.int64(982)

In [ ]:
# alternate method
# year 2013 is the last column, with a positional index of 36
df_can.iloc[87, 36]

In [41]:
df_can.iloc[87,36]

np.int64(982)

In [ ]:
# 3. for years 1980 to 1985
df_can.loc['Japan', [1980, 1981, 1982, 1983, 1984, 1984]]

In [42]:
df_can.loc['Japan',[1980,1981,1982,1983,1984,1985]]

1980    701
1981    756
1982    598
1983    309
1984    246
1985    198
Name: Japan, dtype: object

In [ ]:
# Alternative Method
df_can.iloc[87, [3, 4, 5, 6, 7, 8]]

In [43]:
df_can.iloc[87,[3,4,5,6,7,8]]

1980    701
1981    756
1982    598
1983    309
1984    246
1985    198
Name: Japan, dtype: object

**Exercise:** Let's view the number of immigrants from **Haiti** for the following scenarios: <br>1. The full row data (all columns) <br>2. For year 2000 <br>3. For years 1990 to 1995

In [46]:
df_can.loc['Haiti']
df_can.loc['Haiti',2000]
df_can.loc['Haiti',[1990,1991,1992,1993,1994,1995]]

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
Name: Haiti, dtype: object

In [ ]:
df_can.loc['Haiti']
df_can.loc['Haiti', 2000]
df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]

<details><summary>Click here for a sample python solution</summary>

```python
   # 1. the full row data (all columns)
    df_can.loc['Haiti']
    #or
    df_can[df_can.index == 'Haiti']

    # 2. for year 2000
    df_can.loc['Haiti', 2000]
           
    #  3. for years 1990 to 1995
    df_can.loc['Haiti', [1990, 1991, 1992, 1993, 1994, 1995]]
 ```

</details>

Column names that are integers (such as the years) might introduce some confusion. For example, when we are referencing the year 2013, one might confuse that when the 2013th positional index. 

To avoid this ambuigity, let's convert the column names into strings: '1980' to '2013'.

In [50]:
df_can.columns=list(map(str,df_can.columns))

In [49]:
df_can.columns = list(map(str, df_can.columns))
# [print (type(x)) for x in df_can.columns.values] #<-- uncomment to check type of column headers

Since we converted the years to string, let's declare a variable that will allow us to easily call upon the full range of years:

In [54]:
years=list(map(str,range(1980,2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [51]:
# useful for plotting later on
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

**Exercise:** Create a list named 'year' using map function for years ranging from 1990 to 2013. <br>Then extract the data series from the dataframe df_can for Haiti using year list.

In [56]:
year=list(map(str,range(1990,2014)))
df_can.loc['Haiti',year]

1990    2379
1991    2829
1992    2399
1993    3655
1994    2100
1995    2014
1996    1955
1997    1645
1998    1295
1999    1439
2000    1631
2001    2433
2002    2174
2003    1930
2004    1652
2005    1682
2006    1619
2007    1598
2008    2491
2009    2080
2010    4744
2011    6503
2012    5868
2013    4152
Name: Haiti, dtype: object

<details><summary>Click here for a sample python solution</summary>

```python
    #The correct answer is:
    year = list(map(str, range(1990, 2014)))
    haiti = df_can.loc['Haiti', year] # passing in years 1990 - 2013
    
```
</details>

### Filtering based on a criteria <a id="4"></a>
To filter the dataframe based on a condition, we simply pass the condition as a boolean vector. 

For example, Let's filter the dataframe to show the data on Asian countries (AreaName = Asia).

In [63]:
df_can[df_can['Continent']=='Asia']

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,117278
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,22,21,66,75,102,115,89,112,124,87,132,153,147,224,218,198,205,267,252,236,258,207,6620
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,17,18,23,26,38,62,54,77,98,186,167,230,359,236,203,125,165,209,138,161,57,5298
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,2,10,9,6,9,9,11,14,10,17,28,14,27,34,13,17,15,12,12,12,22,9,35,28,21,39,32,950
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,503,476,387,611,1115,1655,1280,1361,2042,2824,3378,2202,2064,3119,3831,2944,2137,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789,131136
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,0,0,1,0,2,2,1,1,4,2,2,1,3,6,6,8,7,1,5,10,7,36,865,1464,1879,1075,487,11752
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,16,103,63,44,65,31,36,14,17,4,6,1,3,6,3,4,6,3,4,5,11,10,5,12,6,3,6,1200
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,14,15,27,34,38,93,418,371,286,216,313,241,165,245,259,230,277,348,370,529,460,354,203,200,196,233,288,13076
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,2643,2758,4323,8076,14255,10846,9817,13128,14398,19415,20475,21049,30069,35529,36434,31961,36439,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129,1319924
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,257,400,470,379,430,446,536,729,712,674,897,657,623,591,728,774,18654
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,15,28,21,21,21,32,16,12,21,21,13,33,29,568
Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,48,48,56,55,27,37,29,42,24,16,31,36,19,15,16,22,13,17,11,7,9,4,7,6,18,6,12,16,2252
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,0,0,0,1,4,16,0,1,0,0,4,1,4,6,8,11,18,15,14,10,7,19,11,45,97,66,17,776
Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,8,22,27,67,49,46,92,46,83,124,123,127,106,114,125,132,112,128,126,139,147,125,4136
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087,1383808
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,213,270,260,227,252,243,278,262,205,231,166,165,525,1138,907,709,515,552,632,613,657,661,504,712,390,395,387,26300
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,2989,3273,3781,3655,6250,6814,3959,2785,3956,6205,7982,7057,6208,5884,6169,8129,5918,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291,351846
Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,265,384,619,911,557,1013,1498,2103,1500,2034,2675,2564,2037,2159,2591,2821,2432,1515,1796,2226,1788,2406,3543,5450,5941,6196,4041,4918,139578
Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,1212,1497,1389,1762,1596,1358,1259,1584,1699,2224,2515,2998,3172,2387,2510,2436,2539,2314,2788,2446,2625,2401,2562,2316,2755,1970,2134,1945,133016
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,422,324,494,379,506,605,907,956,826,994,924,897,1083,1010,1092,806,817,973,1067,1212,1250,1284,1194,1168,1265,1214,982,55414
Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,181,392,489,785,841,807,909,1141,1173,1006,1070,1317,999,1218,1511,1904,1499,1614,1733,1940,1827,1421,1581,1235,1831,1635,1206,1255,70812
Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,3,24,42,56,152,593,884,537,450,501,418,542,545,506,408,436,394,431,377,381,462,348,16980
Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,4,9,19,19,26,31,96,109,99,130,187,108,121,80,114,107,74,72,74,66,35,62,53,68,67,58,73,48,4050
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,7,8,10,8,43,63,68,56,95,124,99,245,173,161,135,168,173,157,159,278,123,4706
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,20,22,44,34,33,63,44,52,40,24,31,16,31,36,40,49,22,38,42,74,53,32,39,54,22,25,15,2178
Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,3803,3970,7157,13568,12567,6915,4902,2751,2228,1919,1472,1329,1594,1903,2578,2332,3179,3293,3709,3802,3467,3566,3077,3432,3072,1614,2172,230718
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,817,2072,2346,1917,1338,1486,1000,727,490,382,319,214,299,360,460,480,419,401,593,580,600,658,640,802,409,358,204,48834
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,0,0,0,0,0,3,3,0,0,0,0,1,0,1,0,1,0,1,0,0,2,1,7,4,3,1,1,60
Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,1,8,1,0,1,17,17,20,28,34,59,64,82,59,118,169,103,68,99,1904
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,33,55,77,133,104,62,100,172,199,229,205,68,98,121,113,164,263,191,210,953,1887,975,1153,556,368,193,262,18490
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,6,13,4,23,29,32,40,31,66,132,155,104,157,236,272,363,313,404,607,540,511,581,561,1392,1129,1185,1308,20444
Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,0,3,0,1,5,0,5,1,12,11,2,7,4,3,7,12,7,11,12,14,18,16,10,7,14,10,13,11,448
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,1072,1334,2261,2470,3079,4071,4777,4666,4994,9125,13073,9068,9979,15400,16708,15110,13205,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603,483200
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,7360,8639,11865,12509,12718,13670,20479,19532,15864,13692,11549,8735,9734,10763,13836,11707,12758,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544,1022782
Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,1,0,1,0,2,6,5,3,2,4,4,7,3,7,4,21,4,4,5,11,2,5,9,6,18,3,14,6,314
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,2338,2805,2979,2087,2598,3790,3819,3005,3501,3250,4093,4938,7108,7618,9619,7342,7117,5352,5832,6215,5920,7294,5874,5537,4588,5316,4509,285162
Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,5,7,29,41,22,47,71,55,43,40,84,78,71,74,89,98,71,70,128,198,252,188,249,246,330,278,286,267,6850
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,372,808,1269,843,657,492,474,375,407,409,287,231,437,444,473,588,391,311,392,298,690,734,366,805,219,146,141,29158
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,4447,2779,2758,3525,7266,13102,9563,7150,9368,6484,5415,3566,4982,6081,5861,5279,4892,4495,4930,4714,4123,4756,4547,4422,3309,3338,2394,296716
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,26,146,180,238,343,266,323,376,453,627,441,481,400,654,555,533,462,13024
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,927,864,1454,1791,1596,1172,1247,965,1053,942,859,892,823,924,1067,956,1085,1116,1458,1145,1056,919,917,1039,1005,650,1009,62970
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,5,2,11,4,4,5,20,9,7,14,85,46,44,15,50,52,47,34,39,1006
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,117,147,177,171,219,219,279,237,172,195,152,201,246,258,309,547,439,392,575,500,487,519,512,499,396,296,400,18348
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,397,346,488,767,941,1116,1316,908,732,638,679,777,806,1101,1184,1301,1338,1736,2065,1638,1463,1122,1238,1492,1257,1068,729,63562
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,10,6,4,2,7,10,11,22,16,40,26,37,13,20,30,20,20,14,620
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,4,1,17,7,23,27,11,13,8,33,27,25,24,27,41,37,32,41,31,42,37,33,37,86,60,54,46,1672
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,12,44,33,34,58,75,97,106,101,102,144,155,175,330,262,284,215,288,289,162,235,167,6736
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112,194292
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217,5970

In [64]:
# 1. create the condition boolean series
condition = df_can['Continent'] == 'Asia'
print(condition)

Afghanistan                                              True
Albania                                                 False
Algeria                                                 False
American Samoa                                          False
Andorra                                                 False
Angola                                                  False
Antigua and Barbuda                                     False
Argentina                                               False
Armenia                                                  True
Australia                                               False
Austria                                                 False
Azerbaijan                                               True
Bahamas                                                 False
Bahrain                                                  True
Bangladesh                                               True
Barbados                                                False
Belarus                                                 False
Belgium                                                 False
Belize                                                  False
Benin                                                   False
Bhutan                                                   True
Bolivia (Plurinational State of)                        False
Bosnia and Herzegovina                                  False
Botswana                                                False
Brazil                                                  False
Brunei Darussalam                                        True
Bulgaria                                                False
Burkina Faso                                            False
Burundi                                                 False
Cabo Verde                                              False
Cambodia                                                 True
Cameroon                                                False
Canada                                                  False
Central African Republic                                False
Chad                                                    False
Chile                                                   False
China                                                    True
China, Hong Kong Special Administrative Region           True
China, Macao Special Administrative Region               True
Colombia                                                False
Comoros                                                 False
Congo                                                   False
Costa Rica                                              False
Côte d'Ivoire                                           False
Croatia                                                 False
Cuba                                                    False
Cyprus                                                   True
Czech Republic                                          False
Democratic People's Republic of Korea                    True
Democratic Republic of the Congo                        False
Denmark                                                 False
Djibouti                                                False
Dominica                                                False
Dominican Republic                                      False
Ecuador                                                 False
Egypt                                                   False
El Salvador                                             False
Equatorial Guinea                                       False
Eritrea                                                 False
Estonia                                                 False
Ethiopia                                                False
Fiji                                                    False
Finland                                                 False
France                                                  False
Gabon                                                   False
Gambia                                                  False
Georgia                                                  True
Germany                                                 False
Ghana                                                   False
Greece                                                  False
Grenada                                                 False
Guatemala                                               False
Guinea                                                  False
Guinea-Bissau                                           False
Guyana                                                  False
Haiti                                                   False
Honduras                                                False
Hungary                                                 False
Iceland                                                 False
India                                                    True
Indonesia                                                True
Iran (Islamic Republic of)                               True
Iraq                                                     True
Ireland                                                 False
Israel                                                   True
Italy                                                   False
Jamaica                                                 False
Japan                                                    True
Jordan                                                   True
Kazakhstan                                               True
Kenya                                                   False
Kiribati                                                False
Kuwait                                                   True
Kyrgyzstan                                               True
Lao People's Democratic Republic                         True
Latvia                                                  False
Lebanon                                                  True
Lesotho                                                 False
Liberia                                                 False
Libya                                                   False
Liechtenstein                                           False
Lithuania                                               False
Luxembourg                                              False
Madagascar                                              False
Malawi                                                  False
Malaysia                                                 True
Maldives                                                 True
Mali                                                    False
Malta                                                   False
Marshall Islands                                        False
Mauritania                                              False
Mauritius                                               False
Mexico                                                  False
Monaco                                                  False
Mongolia                                                 True
Montenegro                                              False
Morocco                                                 False
Mozambique                                              False
Myanmar                                                  True
Namibia                                                 False
Nauru                                                   False
Nepal                                                    True
Netherlands                                             False
New Caledonia                                           False
New Zealand                                             False
Nicaragua                                               False
Niger                                                   False
Nigeria                                                 False
Norway                                                  False
Oman                                                     True
Pakistan                                                 True
Palau                                                   False
Panama                                                  False
Papua New Guinea                                        False
Paraguay                                                False
Peru                                                    False
Philippines                                              True
Poland                                                  False
Portugal                                                False
Qatar                                                    True
Republic of Korea                                        True
Republic of Moldova                                     False
Romania                                                 False
Russian Federation                                      False
Rwanda                                                  False
Saint Kitts and Nevis                                   False
Saint Lucia                                             False
Saint Vincent and the Grenadines                        False
Samoa                                                   False
San Marino                                              False
Sao Tome and Principe                                   False
Saudi Arabia                                             True
Senegal                                                 False
Serbia                                                  False
Seychelles                                              False
Sierra Leone                                            False
Singapore                                                True
Slovakia                                                False
Slovenia                                                False
Somalia                                                 False
South Africa                                            False
Spain                                                   False
Sri Lanka                                                True
State of Palestine                                       True
Sudan                                                   False
Suriname                                                False
Swaziland                                               False
Sweden                                                  False
Switzerland                                             False
Syrian Arab Republic                                     True
Tajikistan                                               True
Thailand                                                 True
The former Yugoslav Republic of Macedonia               False
Togo                                                    False
Tonga                                                   False
Trinidad and Tobago                                     False
Tunisia                                                 False
Turkey                                                   True
Turkmenistan                                             True
Tuvalu                                                  False
Uganda                                                  False
Ukraine                                                 False
United Arab Emirates                                     True
United Kingdom of Great Britain and Northern Ireland    False
United Republic of Tanzania                             False
United States of America                                False
Uruguay                                                 False
Uzbekistan                                               True
Vanuatu                                                 False
Venezuela (Bolivarian Republic of)                      False
Viet Nam                                                 True
Western Sahara                                          False
Yemen                                                    True
Zambia                                                  False
Zimbabwe                                                False
Name: Continent, dtype: bool

In [65]:
# 2. pass this condition into the dataFrame
df_can[condition]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,117278
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,22,21,66,75,102,115,89,112,124,87,132,153,147,224,218,198,205,267,252,236,258,207,6620
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,17,18,23,26,38,62,54,77,98,186,167,230,359,236,203,125,165,209,138,161,57,5298
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,2,10,9,6,9,9,11,14,10,17,28,14,27,34,13,17,15,12,12,12,22,9,35,28,21,39,32,950
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,503,476,387,611,1115,1655,1280,1361,2042,2824,3378,2202,2064,3119,3831,2944,2137,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789,131136
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,0,0,1,0,2,2,1,1,4,2,2,1,3,6,6,8,7,1,5,10,7,36,865,1464,1879,1075,487,11752
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,16,103,63,44,65,31,36,14,17,4,6,1,3,6,3,4,6,3,4,5,11,10,5,12,6,3,6,1200
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,14,15,27,34,38,93,418,371,286,216,313,241,165,245,259,230,277,348,370,529,460,354,203,200,196,233,288,13076
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,2643,2758,4323,8076,14255,10846,9817,13128,14398,19415,20475,21049,30069,35529,36434,31961,36439,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129,1319924
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,24,257,400,470,379,430,446,536,729,712,674,897,657,623,591,728,774,18654
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,15,28,21,21,21,32,16,12,21,21,13,33,29,568
Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,48,48,56,55,27,37,29,42,24,16,31,36,19,15,16,22,13,17,11,7,9,4,7,6,18,6,12,16,2252
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,0,0,0,1,4,16,0,1,0,0,4,1,4,6,8,11,18,15,14,10,7,19,11,45,97,66,17,776
Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,8,22,27,67,49,46,92,46,83,124,123,127,106,114,125,132,112,128,126,139,147,125,4136
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087,1383808
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,213,270,260,227,252,243,278,262,205,231,166,165,525,1138,907,709,515,552,632,613,657,661,504,712,390,395,387,26300
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,2989,3273,3781,3655,6250,6814,3959,2785,3956,6205,7982,7057,6208,5884,6169,8129,5918,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291,351846
Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,265,384,619,911,557,1013,1498,2103,1500,2034,2675,2564,2037,2159,2591,2821,2432,1515,1796,2226,1788,2406,3543,5450,5941,6196,4041,4918,139578
Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,1212,1497,1389,1762,1596,1358,1259,1584,1699,2224,2515,2998,3172,2387,2510,2436,2539,2314,2788,2446,2625,2401,2562,2316,2755,1970,2134,1945,133016
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,422,324,494,379,506,605,907,956,826,994,924,897,1083,1010,1092,806,817,973,1067,1212,1250,1284,1194,1168,1265,1214,982,55414
Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,181,392,489,785,841,807,909,1141,1173,1006,1070,1317,999,1218,1511,1904,1499,1614,1733,1940,1827,1421,1581,1235,1831,1635,1206,1255,70812
Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,3,24,42,56,152,593,884,537,450,501,418,542,545,506,408,436,394,431,377,381,462,348,16980
Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,4,9,19,19,26,31,96,109,99,130,187,108,121,80,114,107,74,72,74,66,35,62,53,68,67,58,73,48,4050
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,7,8,10,8,43,63,68,56,95,124,99,245,173,161,135,168,173,157,159,278,123,4706
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,20,22,44,34,33,63,44,52,40,24,31,16,31,36,40,49,22,38,42,74,53,32,39,54,22,25,15,2178
Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,3803,3970,7157,13568,12567,6915,4902,2751,2228,1919,1472,1329,1594,1903,2578,2332,3179,3293,3709,3802,3467,3566,3077,3432,3072,1614,2172,230718
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,817,2072,2346,1917,1338,1486,1000,727,490,382,319,214,299,360,460,480,419,401,593,580,600,658,640,802,409,358,204,48834
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,0,0,0,0,0,3,3,0,0,0,0,1,0,1,0,1,0,1,0,0,2,1,7,4,3,1,1,60
Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,1,8,1,0,1,17,17,20,28,34,59,64,82,59,118,169,103,68,99,1904
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,33,55,77,133,104,62,100,172,199,229,205,68,98,121,113,164,263,191,210,953,1887,975,1153,556,368,193,262,18490
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,6,13,4,23,29,32,40,31,66,132,155,104,157,236,272,363,313,404,607,540,511,581,561,1392,1129,1185,1308,20444
Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,0,3,0,1,5,0,5,1,12,11,2,7,4,3,7,12,7,11,12,14,18,16,10,7,14,10,13,11,448
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,1072,1334,2261,2470,3079,4071,4777,4666,4994,9125,13073,9068,9979,15400,16708,15110,13205,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603,483200
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,7360,8639,11865,12509,12718,13670,20479,19532,15864,13692,11549,8735,9734,10763,13836,11707,12758,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544,1022782
Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,1,0,1,0,2,6,5,3,2,4,4,7,3,7,4,21,4,4,5,11,2,5,9,6,18,3,14,6,314
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,2338,2805,2979,2087,2598,3790,3819,3005,3501,3250,4093,4938,7108,7618,9619,7342,7117,5352,5832,6215,5920,7294,5874,5537,4588,5316,4509,285162
Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,5,7,29,41,22,47,71,55,43,40,84,78,71,74,89,98,71,70,128,198,252,188,249,246,330,278,286,267,6850
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,372,808,1269,843,657,492,474,375,407,409,287,231,437,444,473,588,391,311,392,298,690,734,366,805,219,146,141,29158
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,4447,2779,2758,3525,7266,13102,9563,7150,9368,6484,5415,3566,4982,6081,5861,5279,4892,4495,4930,4714,4123,4756,4547,4422,3309,3338,2394,296716
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8,26,146,180,238,343,266,323,376,453,627,441,481,400,654,555,533,462,13024
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,927,864,1454,1791,1596,1172,1247,965,1053,942,859,892,823,924,1067,956,1085,1116,1458,1145,1056,919,917,1039,1005,650,1009,62970
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,5,2,11,4,4,5,20,9,7,14,85,46,44,15,50,52,47,34,39,1006
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,117,147,177,171,219,219,279,237,172,195,152,201,246,258,309,547,439,392,575,500,487,519,512,499,396,296,400,18348
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,397,346,488,767,941,1116,1316,908,732,638,679,777,806,1101,1184,1301,1338,1736,2065,1638,1463,1122,1238,1492,1257,1068,729,63562
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,10,6,4,2,7,10,11,22,16,40,26,37,13,20,30,20,20,14,620
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,4,1,17,7,23,27,11,13,8,33,27,25,24,27,41,37,32,41,31,42,37,33,37,86,60,54,46,1672
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,0,0,0,0,0,12,44,33,34,58,75,97,106,101,102,144,155,175,330,262,284,215,288,289,162,235,167,6736
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,1411,3004,3801,5870,5416,6547,5105,3723,2462,1752,1631,1419,1803,2117,2291,1713,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112,194292
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,12,7,18,4,18,41,41,39,73,144,121,141,134,122,181,171,113,124,161,140,122,133,128,211,160,174,217,5970

In [ ]:
# we can pass multiple criteria in the same line.
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

In [72]:
 # let's filter for AreaNAme = Asia and RegName = Southern Asia

df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,741,828,1076,1028,1378,1170,713,858,1537,2212,2555,1999,2395,3326,4067,3697,3479,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004,117278
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,503,476,387,611,1115,1655,1280,1361,2042,2824,3378,2202,2064,3119,3831,2944,2137,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789,131136
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,0,0,1,0,2,2,1,1,4,2,2,1,3,6,6,8,7,1,5,10,7,36,865,1464,1879,1075,487,11752
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087,1383808
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,2989,3273,3781,3655,6250,6814,3959,2785,3956,6205,7982,7057,6208,5884,6169,8129,5918,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291,351846
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,0,0,0,0,0,3,3,0,0,0,0,1,0,1,0,1,0,1,0,0,2,1,7,4,3,1,1,60
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,6,13,4,23,29,32,40,31,66,132,155,104,157,236,272,363,313,404,607,540,511,581,561,1392,1129,1185,1308,20444
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,1072,1334,2261,2470,3079,4071,4777,4666,4994,9125,13073,9068,9979,15400,16708,15110,13205,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603,483200
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,4447,2779,2758,3525,7266,13102,9563,7150,9368,6484,5415,3566,4982,6081,5861,5279,4892,4495,4930,4714,4123,4756,4547,4422,3309,3338,2394,296716

**Exercise:** Fetch the data where AreaName is 'Africa' and RegName is 'Southern Africa'. <br>Display the dataframe and find out how many instances are there?

In [75]:
df_can[(df_can['Continent']=='Africa') & (df_can['Region']=='Southern Africa')]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Botswana,Africa,Southern Africa,Developing regions,10,1,3,3,7,4,2,3,8,8,2,2,4,4,0,2,3,2,0,2,3,2,4,4,9,7,11,8,28,15,42,53,64,76,792
Lesotho,Africa,Southern Africa,Developing regions,1,1,1,2,7,5,3,1,6,5,1,4,4,7,2,3,9,2,1,4,1,0,2,2,2,4,0,4,1,8,7,1,0,6,214
Namibia,Africa,Southern Africa,Developing regions,0,5,5,3,2,1,1,4,3,2,2,4,0,5,0,9,2,0,0,4,9,9,10,7,9,6,19,13,26,14,16,23,24,83,640
South Africa,Africa,Southern Africa,Developing regions,1026,1118,781,379,271,310,718,1470,1305,1301,902,823,1059,1549,2366,1455,1308,1729,1350,1478,1763,1899,1498,1245,1175,988,1111,1200,1123,1188,1238,959,1243,1240,81136
Swaziland,Africa,Southern Africa,Developing regions,4,1,1,0,10,7,1,2,7,3,4,1,4,2,3,5,2,4,3,4,2,2,1,0,8,7,7,5,6,10,3,13,17,39,376

<details><summary>Click here for a sample python solution</summary>

```python
    df_can[(df_can['Continent']=='Africa') & (df_can['Region']=='Southern Africa')]
```
</details>

### Sorting Values of a Dataframe or Series <a id="5"></a><br>
You can use the `sort_values()` function is used to sort a DataFrame or a Series based on one or more columns. <br>You to specify the column(s) by which you want to sort and the order (ascending or descending). Below is the syntax to use it:-<br><br>
```df.sort_values(col_name, axis=0, ascending=True, inplace=False, ignore_index=False)```<br><br>
col_nam - the column(s) to sort by. <br>
axis - axis along which to sort. 0 for sorting by rows (default) and 1 for sorting by columns.<br>
ascending - to sort in ascending order (True, default) or descending order (False).<br>
inplace - to perform the sorting operation in-place (True) or return a sorted copy (False, default).<br>
ignore_index - to reset the index after sorting (True) or keep the original index values (False, default).<br>

Let's sort out dataframe df_can on 'Total' column, in descending order to find out the top 5 countries that contributed the most to immigration to Canada.

In [ ]:
df_can.sort_values(by='Total', ascending=False, axis=0, inplace=True)
top_5 = df_can.head(5)
top_5

In [77]:
df_can.sort_values(by='Total',ascending=False, axis=0, inplace=True)
top_5=df_can.head(5)
top_5

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087,1383808
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,2643,2758,4323,8076,14255,10846,9817,13128,14398,19415,20475,21049,30069,35529,36434,31961,36439,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129,1319924
United Kingdom of Great Britain and Northern Ireland,Europe,Northern Europe,Developed regions,22045,24796,20620,10015,10170,9564,9470,21337,27359,23795,31668,23380,34123,33720,39231,30145,29322,22965,10367,7045,8840,11728,8046,6797,7533,7258,7140,8216,8979,8876,8724,6204,6195,5827,1103000
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,7360,8639,11865,12509,12718,13670,20479,19532,15864,13692,11549,8735,9734,10763,13836,11707,12758,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544,1022782
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,1072,1334,2261,2470,3079,4071,4777,4666,4994,9125,13073,9068,9979,15400,16708,15110,13205,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603,483200

**Exercise:** Find out top 3 countries that contributes the most to immigration to Canda in the year 2010. <br> Display the country names with the immigrant count in this year

In [78]:
df_can.sort_values(by='2010',inplace=True,ascending=False,axis=0)
top_3_2010=df_can.head(3)
top_3_2010

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,7360,8639,11865,12509,12718,13670,20479,19532,15864,13692,11549,8735,9734,10763,13836,11707,12758,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544,1022782
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,10189,11522,10343,12041,13734,13673,21496,18620,18489,23859,22268,17241,18974,28572,31223,31889,27155,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087,1383808
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,2643,2758,4323,8076,14255,10846,9817,13128,14398,19415,20475,21049,30069,35529,36434,31961,36439,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129,1319924

<details><summary>Click here for a sample python solution</summary>

```python
    df_can.sort_values(by='2010', ascending=False, axis=0, inplace=True)
    top3_2010 = df_can['2010'].head(3)
    top3_2010
```
</details>

Congratulations! you have learned how to wrangle data with Pandas. You will be using alot of these commands to preprocess the data before its can be used for data visualization.

### Thank you for completing this lab!


## Author

<a href="https://www.linkedin.com/in/aklson/" target="_blank">Alex Aklson</a>


### Other Contributors
[Jay Rajasekharan](https://www.linkedin.com/in/jayrajasekharan),
[Ehsan M. Kermani](https://www.linkedin.com/in/ehsanmkermani),
[Slobodan Markovic](https://www.linkedin.com/in/slobodan-markovic),
[Weiqing Wang](https://www.linkedin.com/in/weiqing-wang-641640133/),
[Dr. Pooja](https://www.linkedin.com/in/p-b28802262/)

<!--   --!>
## Change Log


|  Date (YYYY-MM-DD) | Version | Changed By    |  Change Description                   |
|--------------------|---------|---------------|---------------------------------------|
| 2023-06-08         | 2.5     | Dr. Pooja         |  Separated from original lab        |
| 2021-05-29         | 2.4     | Weiqing Wang  |  Fixed typos and code smells.         |
| 2021-01-20         | 2.3     | Lakshmi Holla |  Changed TOC cell markdown            |
| 2020-11-20         | 2.2     | Lakshmi Holla |  Changed IBM box URL                  |
| 2020-11-03         | 2.1     | Lakshmi Holla |  Changed URL and info method          |
| 2020-08-27         | 2.0     | Lavanya       |  Moved Lab to course repo in GitLab   |--!>




## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>